.packignore
/instance.cfg
/mmc-pack.json
/README.html
/CHANGELOG.html
/natives/

/minecraft/.mixin.out/
/minecraft/backups/
/minecraft/coremods/
/minecraft/craftpresence/
/minecraft/crash-reports/
/minecraft/ESM/
/minecraft/journeymap/data/
/minecraft/journeymap/icon/
/minecraft/journeymap/server/
/minecraft/journeymap/journeymap.log
/minecraft/local/
/minecraft/logs/
/minecraft/mods
/minecraft/patchouli_books/
/minecraft/resourcepacks/
/minecraft/saves/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/tconplanner/
/minecraft/texturepacks/
/minecraft/BotaniaVars.dat
/minecraft/knownkeys.txt
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/servers*
/minecraft/TrashSlotSaveState.json

#Dev branch restrict
/minecraft/config/ftbquests/
/minecraft/scripts/common/QuestUtil.zs
