.packignore
modlist.html
instance.cfg
mmc-pack.json
/natives/

/minecraft/.mixin.out/
/minecraft/.coremods/
/minecraft/craftpresence/
/minecraft/journeymap/
/minecraft/local/
/minecraft/logs/
/minecraft/mods
/minecraft/patchouli_books/
/minecraft/resourcepacks/
/minecraft/saves/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/texturepacks/
/minecraft/BotaniaVars.dat
/minecraft/knownkeys.txt
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/usercache.json
/minecraft/usernamecache.json